pascal/*.o
pascal/Q1_sum_naturals
pascal/Q2_evens_odds
pascal/Q3_doubling_counted
pascal/Q3_doubling_indexed
pascal/Q3_doubling_w_function
pascal/X1_is_even_function
pascal/X2_is_even_function
pascal/X3_function_many_params
pascal/X4_random_number
pascal/arrays/*.o
pascal/arrays/array_1
pascal/arrays/array_2
pascal/arrays/array_palindrome_test
pascal/arrays/array_palindrome_alt
pascal/arrays/array_prefix
pascal/arrays/array_bubble_sort
pascal/arrays/array_bubble_sort_alt
pascal/arrays/is_prime_to_function
pascal/arrays/array_prefix_w_functions
